// COLORS
$color-grey-dark = #636466;
$color-grey-semi-dark = #9FA3A7;
$color-grey-semi-light = #E9EAEB;
$color-grey-light = #FAFAFA;

$color-blue-dark = #335573;
$color-blue-semi-dark = #0088B3;
$color-blue-regular = #169FC7;
$color-blue-semi-light = #4DA2BF;

$color-green-light = #78FA82;
$color-green-regular = #31B69A;

$color-red-regular = #CE051E;
$color-red-semi-light = #E41A32;

$color-yellow-regular = #FFC80A;

$color-white = #FFFFFF;
$color-black = #333333;
$color-total-black = #000000;




// FONTS
$font-family-primary = 'Lato', 'Helvetiva', 'Arial', sans-serif;
$font-family-secondary = 'Montserrat', 'Helvetiva', 'Arial', sans-serif;
$font-size-xxl = 3.428571428571429em;     // 48px
$font-size-xl = 2.571428571428571em;      // 36px
$font-size-lg = 1.714285714285714em;      // 24px
$font-size-md = 1.285714285714286em;      // 18px
$font-size-sm = 1.142857142857143em;      // 16px
$font-size-xs = 1em;                      // 14px
$font-size-xxs = 0.857142857142857em;     // 12px
$font-size-xxxs = 0.642857142857143em;    // 9px

// LAYERS
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// PATHS
$path-images = '../images/';
$path-images-devices = $path-images + 'devices/';
$path-icons = $path-images + 'icons/';

// ANIMATION
$animation-ease-default = cubic-bezier(0.080, 0.690, 0.485, 0.990)

// BREAKPOINTS
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 959px
$screen-md-min = 960px
$screen-md-max = 1440px
$screen-lg-min = 1441px


$content-max-width = 1170px