// PATHS
$path-images = '../images/';
$path-icons = $path-images + 'icons/';

// ANIMATION
$animation-ease-default = cubic-bezier(0.080, 0.690, 0.485, 0.990)

// BREAKPOINTS
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 959px
$screen-md-min = 960px
$screen-md-max = 1440px
$screen-lg-min = 1441px

$content-max-width = 1170px