.clickordrop
    border 2px dashed #0b2a41
    color #0b2a41
    background-color white
    display block
    padding 50px 15px
    margin 15px 0
    font-size 24px
    font-weight bold
    text-align center
    transition(all, .2s)

.clickordrop, .clickordrop:hover,
.clickordrop:active, .clickordrop:focus
    text-decoration none

.clickordrop:hover
    border-color #00b0ff
    color #00b0ff
    cursor pointer

#media-viewer
    margin-top 20px


#media-preview .progress
    height 7px
    margin-bottom 2px
    margin-top 2px
    border-radius 1px

#media-viewer .img-box
    margin-bottom 10px


#media-viewer .img-container
    position relative
    background-color rgba(0,0,0,0.12)

#media-viewer .img-container img
    max-height 100%
    max-width 100%

#media-viewer .img-actions
    position absolute
    top 5px
    right 5px

#media-viewer .img-actions .btn-link
    border 1px solid #00b0ff
    color #00b0ff
    transition(color, .3s)
    transition(border-color, .3s)

#media-viewer .img-actions .btn-link:hover
    border-color #0b2a41
    color #0b2a41

.image-preview-area
    background-color #070a0f


.image-preview-area .image-preview
    background-color #FFFFFF
    max-width 100%
    display block
    margin 0 auto