@require '_mixins'

.sidebar 
	position fixed
	width 260px
	height 100%
	min-height 300px
	left -260px
	top 0
	background-color #0b2a41
	transition(left, .4s)

.sidebar.active, .sidebar.fixed 
	left 0px

.content-wrapper
	width 100%
	transition(margin-left, .4s)

.content-wrapper.opened
	width auto

.content-wrapper.opened
	margin-left 260px

.sidebar .logo 
	padding 15px 0
	border-bottom 1px solid rgba(255,255,255,.5)

.sidebar .logo img 
	display block
	margin 0 auto
	max-width 60%

.sidebar .list-group
	overflow auto
	padding 10px 0
	margin 0

.sidebar .list-group-itemfirst-child, .sidebar .list-group-itemlast-child 
	-webkit-border-radius 0
	-moz-border-radius 0
	border-radius 0

.sidebar .list-group-item 
	position relative
	background-color transparent
	border none
	padding 0
	transition(background-color, .4s)
	height 40px
	overflow hidden

.sidebar .list-group-item.dropdown::after 
	position absolute
	right 15px
	top 18px
	display inline-block
	width 0
	height 0
	margin-left 2px
	vertical-align middle
	border-top 4px dashed white
	border-top 4px solid\9 white
	border-right 4px solid transparent
	border-left 4px solid transparent
	content ''
	transition(transform, .4s)

.sidebar .list-group-item.dropdown.active::after
	transform('rotate(180deg)')

.sidebar .list-group-item.dropdown.active
	height auto

.sidebar > .root-menu > .list-group-item:hover, 
.sidebar > .root-menu > .list-group-item.active 
	background-color #00b0ff

.root-menu .chield-menu .list-group-item:hover, .root-menu .chield-menu .list-group-item.active 
	background-color rgba(0,0,0,.12)

.sidebar .list-group-item a i.fa, .sidebar .list-group-item a i.glyphicon
	margin-right 8px

.sidebar .list-group-item a
	position relative
	display block
	color #fafafa
	text-decoration none
	padding 10px 15px

.sidebar ::-webkit-scrollbar
	width 10px

.sidebar ::-webkit-scrollbar-thumb
	background-color rgba(0,0,0,.4)
